sampleapi/src/main/resources/author.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://example.com/authors"
           xmlns="http://example.com/authors"
           elementFormDefault="qualified">

  <!-- Define the Author element -->
  <xs:element name="Author">
    <xs:complexType>
      <xs:sequence>
        <!-- Define the elements for Author -->
        <xs:element name="Id" type="xs:int"/>
        <xs:element name="Name" type="xs:string"/>
        <xs:element name="Bio" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  
</xs:schema>
